In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from nltk.stem import WordNetLemmatizer
import pandas as pd
import numpy as np
import glob, os, nltk, string

In [4]:
path = r'C:\Users\AMD3600\Documents\Text_data\OpinosisDataset1.0\topics'
all_files = glob.glob(os.path.join(path, "*.data"))
filename_list = []
opinion_text = []

In [7]:
for file_ in all_files:
    df = pd.read_table(file_, index_col=None, header=0, encoding='latin1')
    filename_ = file_.split('\\')[-1]
    filename = filename_.split('.')[0]
    
    filename_list.append(filename)
    opinion_text.append(df.to_string())

document_df = pd.DataFrame({'filename':filename_list, 'opinion_text':opinion_text})
document_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
filename        102 non-null object
opinion_text    102 non-null object
dtypes: object(2)
memory usage: 1.7+ KB

In [10]:
remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
lemmar = WordNetLemmatizer()

def LemTokens(tokens):
    return [lemmar.lemmatize(token) for token in tokens]

def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [11]:
tfidf_vect = TfidfVectorizer(tokenizer=LemNormalize, stop_words='english',
                            ngram_range=(1, 2), min_df=0.05, max_df=0.85)
feature_vect = tfidf_vect.fit_transform(document_df['opinion_text'])

C:\Users\AMD3600\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [13]:
km_cluster = KMeans(n_clusters=5, max_iter=10000, random_state=0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_
cluster_centers = km_cluster.cluster_centers_

In [14]:
document_df['cluster_label'] = cluster_label
document_df.head()

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,", and is very, very acc...",3
1,bathroom_bestwestern_hotel_sfo,"The room was not overly big, but clean and...",1
2,battery-life_amazon_kindle,After I plugged it in to my USB hub on my ...,4
3,battery-life_ipod_nano_8gb,short battery life I moved up from a...,4
4,battery-life_netbook_1005ha,"6GHz 533FSB cpu, glossy display, 3, Cell 2...",4

In [15]:
document_df[document_df['cluster_label']==0].sort_values(by='filename')

,filename,opinion_text,cluster_label
11,features_windows7,"I had to uninstall anti, virus and selecte...",0
62,features_windows7,"I had to uninstall anti, virus and selecte...",0
42,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,0
93,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,0
49,video_ipod_nano_8gb,"I bought the 8, gig Ipod Nano that has the...",0
100,video_ipod_nano_8gb,"I bought the 8, gig Ipod Nano that has the...",0

In [16]:
document_df[document_df['cluster_label']==1].sort_values(by='filename')

,filename,opinion_text,cluster_label
1,bathroom_bestwestern_hotel_sfo,"The room was not overly big, but clean and...",1
52,bathroom_bestwestern_hotel_sfo,"The room was not overly big, but clean and...",1
13,food_holiday_inn_london,The room was packed to capacity with queu...,1
64,food_holiday_inn_london,The room was packed to capacity with queu...,1
14,food_swissotel_chicago,The food for our event was deli...,1
65,food_swissotel_chicago,The food for our event was deli...,1
66,free_bestwestern_hotel_sfo,The wine reception is a great idea as it i...,1
15,free_bestwestern_hotel_sfo,The wine reception is a great idea as it i...,1
71,location_bestwestern_hotel_sfo,"Good Value good location , ideal ...",1
20,location_bestwestern_hotel_sfo,"Good Value good location , ideal ...",1
21,location_holiday_inn_london,Great location for tube and we crammed in...,1
72,location_holiday_inn_london,Great location for tube and we crammed in...,1
75,parking_bestwestern_hotel_sfo,Parking was expensive but I think this is ...,1
24,parking_bestwestern_hotel_sfo,Parking was expensive but I think this is ...,1
28,price_holiday_inn_london,"All in all, a normal chain hotel on a nice...",1
79,price_holiday_inn_london,"All in all, a normal chain hotel on a nice...",1
32,room_holiday_inn_london,"We arrived at 23,30 hours and they could n...",1
83,room_holiday_inn_london,"We arrived at 23,30 hours and they could n...",1
30,rooms_bestwestern_hotel_sfo,"Great Location , Nice Rooms , Helpless...",1
81,rooms_bestwestern_hotel_sfo,"Great Location , Nice Rooms , Helpless...",1
82,rooms_swissotel_chicago,The Swissotel is one of our favorite hotel...,1
31,rooms_swissotel_chicago,The Swissotel is one of our favorite hotel...,1
89,service_bestwestern_hotel_sfo,Both of us having worked in tourism for o...,1
38,service_bestwestern_hotel_sfo,Both of us having worked in tourism for o...,1
90,service_holiday_inn_london,"not customer, oriented hotelvery low servi...",1
39,service_holiday_inn_london,"not customer, oriented hotelvery low servi...",1
91,service_swissotel_hotel_chicago,Mediocre room and service for a very extr...,1
40,service_swissotel_hotel_chicago,Mediocre room and service for a very extr...,1
96,staff_bestwestern_hotel_sfo,Staff are friendly and hel...,1
45,staff_bestwestern_hotel_sfo,Staff are friendly and hel...,1
46,staff_swissotel_chicago,The staff at Swissotel were not particula...,1
97,staff_swissotel_chicago,The staff at Swissotel were not particula...,1

In [17]:
document_df[document_df['cluster_label']==2].sort_values(by='filename')

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,"Drivers seat not comfortable, the car its...",2
57,comfort_honda_accord_2008,"Drivers seat not comfortable, the car its...",2
7,comfort_toyota_camry_2007,Ride seems comfortable and gas mileage fa...,2
58,comfort_toyota_camry_2007,Ride seems comfortable and gas mileage fa...,2
16,gas_mileage_toyota_camry_2007,Ride seems comfortable and gas mileage fa...,2
67,gas_mileage_toyota_camry_2007,Ride seems comfortable and gas mileage fa...,2
17,interior_honda_accord_2008,I love the new body style and the interior...,2
68,interior_honda_accord_2008,I love the new body style and the interior...,2
18,interior_toyota_camry_2007,"First of all, the interior has way too ma...",2
69,interior_toyota_camry_2007,"First of all, the interior has way too ma...",2
22,mileage_honda_accord_2008,"It's quiet, get good gas mileage and look...",2
73,mileage_honda_accord_2008,"It's quiet, get good gas mileage and look...",2
25,performance_honda_accord_2008,"Very happy with my 08 Accord, performance i...",2
76,performance_honda_accord_2008,"Very happy with my 08 Accord, performance i...",2
80,quality_toyota_camry_2007,I previously owned a Toyota 4Runner which ...,2
29,quality_toyota_camry_2007,I previously owned a Toyota 4Runner which ...,2
88,seats_honda_accord_2008,Front seats are very uncomfor...,2
37,seats_honda_accord_2008,Front seats are very uncomfor...,2
47,transmission_toyota_camry_2007,"After slowing down, transmission has to b...",2
98,transmission_toyota_camry_2007,"After slowing down, transmission has to b...",2